/* to keep navbar items horizontal */
.custom-row {
    flex-direction: row;
}

/* main page image*/
.custom-main-image {
    height: 200px;
    width: auto;
    overflow: hidden;
}

/* custom google fonts */
a {
    font-family:  'Ubuntu','Lato', sans-serif;
 
  }

  
/* custom colors */
.custom-background-color {
    background-color:#d9ca1a;
}

.custom-text-color {
    color:#000000;
}


