/* ONE FILE FOR ALL CUSTOM CSS */

/* to keep navbar items horizontal */
.custom-row {
    flex-direction: row;
}

/* custom google fonts */
a,h1 {
    font-family:  'Ubuntu','Lato', sans-serif;
  }

a:hover {
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: bg-info;
 }
  
a:focus {
    color: white;
 }
  

/* custom colors */
.custom-background-color {
    background-color:#d9ca1a;
}

.custom-text-color {
    color:#000000;
}

/* this is to make a 60px fixed distance AFTER the main section, so the footer will nto overlap */
.sticky-footer {
    padding-bottom: 80px;
}

/*size of email png*/
.email-icon {
    height: 25%;
    width: 25%;
}

/*bottom bar classes*/
.bottom-bar a{
    target="_blank";
}

    